html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: #898989;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 128px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.site-navigation li:not(:last-child) {
  margin-right: 35px;
}

.site-navigation li {
  transition: color 400ms cubic-bezier(0.43, -0.03, 1, 1);
}

.site-navigation a {
  font-family: "Montserrat";
  line-height: 1.2;
  font-weight: 400;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../font-family/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../font-family/montserrat-v14-latin-regular.woff") format("woff"),
    url("../font-family/ AJ.otf") format("otf"),
    url("../font-family/DroidSerif-Italic.ttf") format("ttf");
}

.logo {
  display: flex;
  cursor: initial;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.team-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: #222222;
  font-weight: 700;
}

.subtitle {
  justify-content: flex-start;
  font-family: "Ralevay", sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #777777;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  text-align: center;
}

.site-navigation :hover {
  color: #fed136;
}

.toch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.toch input[type="email"]:valid {
  border-color: #4ce840;
}

.toch input[type="email"]:invalid {
  border-color: #f91323;
}

.toch input[type="name"]:valid {
  border-color: #4ce840;
}

.toch input[type="name"]:invalid {
  border-color: #f91323;
}

textarea[type="message"]:valid {
  border-color: #4ce840;
}

textarea[type="message"]:invalid {
  border-color: #f91323;
}

.enter input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  color: #bbbbbb;
  padding-top: 20px;
}

.enter input {
  width: 455px;
  height: 52px;
}

input {
  padding-left: 20px;
  border-radius: 2px;
}

textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  color: #bbbbbb;
}

textarea {
  padding-left: 20px; 
  padding-top: 20px;
  border-radius: 2px;
}

textarea {
  width: 455px;
  height: 212px;
}

.enter {
  display: flex;
  justify-content: space-between;
}

.desname {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  color: #222222;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../font-family/montserrat-v14-latin-700.woff2") format("woff2"),
          url("../font-family/montserrat-v14-latin-700.woff") format("woff");
}

.teamp {
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../font-family/roboto-v20-latin-regular.woff") format("woff2");

}
.team-list-item {
  width: 290px;
}

.team-lister {
  display: flex;
  justify-content: space-around;
  margin:0;
  padding: 0;
  margin-bottom: 124px;
  list-style: none;
}

.all {
  position: relative;
  text-align: center;
  padding: 0;
  margin-bottom: 14px;
}
.icon {
  position: absolute;
  text-align: center;
  bottom: 0px;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../font-family/montserrat-v14-latin-700.woff2") format("woff2"),
          url("../font-family/montserrat-v14-latin-700.woff") format("woff");
}

.team-contact {
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-title-two {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}


.subtitle-two {
  font-family: "Ralevay", sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #777777;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.buttomsend {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border-radius: 5px;
}

.send {
  align-self: center;
  align-items: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
   margin-top: 28px; 
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  width: 240px;
  height: 65px;
  background-color: #fed136;
  border: 0;
  color: #fffcf2;
}


.wall {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 269px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}