html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-family: "Open Sans";
  color: #555252;
  font-size: 14px;
  line-height: 1.5;
}

.fontt {
  font-family: "Open Sans";
}

nav.main-nav {
  margin-top: 38px;
  margin-bottom: 75px;
}

.flit {
  width: 350px;
}
.team-t {
  float: left;
  margin-right: 30px;
}

.team-t:nth-child(3n) {
  margin-right: 0px;
}

li:hover .vip-pc-lot {
  background-color: #7fd9c7;
}

li:hover .vip-pc {
  background-color: #1abc9c;
}

.team-list-t {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 81px;
  padding: 0px;
  list-style: none;
}

.team-list-item {
  position: relative;
  float: left;
  margin-bottom: 28px;
  margin-right: 28px;
}

.team-list-img {
  width: 255px;
  height: 322px;
}

.team-title-t {
  margin-bottom: 81px;
}

.team-list-item:nth-child(4n) {
  margin-right: 0px;
}

.team-list-item:nth-of-type(5n) {
  margin-bottom: 0px;
}

.team-list-item:nth-of-type(6n) {
  margin-bottom: 0px;
}

.team-list-item:nth-of-type(7n) {
  margin-bottom: 0px;
}

.team-list-item:nth-of-type(8n) {
  margin-bottom: 0px;
}

img {
  float: left;
  max-width: 100%;
  height: auto;
}

.text-t {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  margin-top: 0px;
}

.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900px;
  line-height: 1.5;
  color: #1f1212;
}

.team-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-bottom: 80px;
}

.team-van container{
margin: auto;
}

.news-team container {
  margin: auto;
}

.vip p {
  list-style: none;
  padding-top: 4px;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.vip-pc-lot {
  padding-left: 10px;
  float: left;
  height: 40px;
  width: calc(100% - 202px);
  background-color: #8c8c8c;
  margin: 0px;
}

.vip-pc {
  padding-left: 13px;
  margin: 0px;
  float: left;
  width: 202px;
  height: 40px;
  background-color: #323232;
}

h2 {
  position: relative;
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 120px;
}

h2::after {
  position: absolute;
  display: inline-block;
  width: 164px;
  height: 7px;
  content: "";
  background-color: #1abc9c;
  bottom: 0px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 1110px;
  margin: auto;
}

.text {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 13px;
  margin: 0;
  margin-bottom: 26px;
}

.text::after {
  position: absolute;
  width: 136px;
  height: 3px;
  display: block;
  content: "";
  background-color: #1abc9c;
  margin-top: 10px;
}

.site-navigation li:nth-of-type(6n) {
  margin: 0px;
}

.site-navigation li {
  margin-right: 35px;
  float: left;
}
.site-navigation li:hover a {
  color: #7fd9c7;
  text-decoration: underline;
}

ul.site-navigation {
  margin: 0px;
}

.site-navigation {
  float: right;
  list-style: none;
  margin-bottom: 0px;
  padding: 0px;
}

.logo {
  float: left;
}

.command {
  margin-bottom: 10px;
  width: 350px;
  height: 262px;
}

.load {
  display: inline-block;
  border: 0px;
}

.load-t {
  border: 0px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 0px;
  padding-left: 43px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 43px;
  background-color: #4ec6ab;
  color: #ffffff;
  font-weight: 300;
}

button.load-t {
  border-radius: 6px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list-itemet {
  position: relative;
  width: 255px;
  height: 282px;
}

div.vip {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}