@viewport {
  width: device-width;
  zoom: 1;
}
html {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
  font-family: "Open Sans";
  color: #555252;
  font-size: 14px;
  line-height: 1.5;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 18px;
  padding-top: 70px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.nav-header {
  padding: 0;
}
.container {
  position: relative;
  width: 320px;
  margin: auto;
 
}
li {
  text-align: center;
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cart {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.cart-a {
  position: absolute;
  bottom: 0px;
  top: 70%;
  left: 70%;
  
}
.cart-b {
  display: inline-block;
  position: relative;
}

.cart-three {
  position: absolute;
  bottom: 0px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.prevei {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 218px;
  margin-bottom: 28px;
}
img {
  width: 100%;
  height: 100%;
}
.visually {
  text-transform: uppercase;
}
.container {
  position: relative;
}

.navig {
  position: relative;
  width: 320px;
  height: 540px;
  background-image: url("../img/mobile\ object.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.up {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: absolute;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
  width: 90px;
  height: 38px;
  border: 0;
  color: #ffffff;
  background-color: rgba(26, 25, 21, 0);
  right: 86px;
  top: 20px;
}
.in {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: absolute;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
  width: 90px;
  height: 38px;
  border: 0;
  color: #ffffff;
  background-color: rgba(26, 25, 21, 0);
  top: 20px;
  right: 162px;
}
.in:hover {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
}
.up:hover {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
}
.butt-part {
  position: absolute;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  width: 282px;
  height: 42px;
  border: 0;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  bottom: 0px;
  top: 362px;
  left: 50%;
  transform: translateX(-50%);
}
.partner {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 220px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 1.2;
  bottom: 0;
  top: 306px;
  left: 50%;
  transform: translate(-50%);
}
h1 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 291px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 0;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
}
.logo {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 0;
  top: 172px;
  left: 50%;
  transform: translate(-50%);
}
.other {
  color: #ff4e50;
  width: 280px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  background-color: rgba(26, 25, 21, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #ff4e50;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.down {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .one {
    order: 1;
  }

  .two {
    order: 3;
  }

  .three {
    order: 2;
  }

  .four {
    order: 4;
  }

  .list-item {
    width: 256px;
  }

  .other {
    width: 190px;
  }

  .navig {
    width: 768px;
    height: 700px;
    background-image: url("../img/tab\ object.png");
    background-color: rgb(26, 25, 21);
  }

  .container {
    width: 768px;
  }
  h1 {
    top: 220px;
    width: 503px;
    font-size: 52px;
  }
  .partner {
    font-size: 24px;
    width: 404px;
    top: 365px;
  }
  .butt-part {
    height: 40px;
    width: 230px;
    top: 426px;
  }
  .conn {
    width: 172px;
  }
  .up {
    top: 40px;
    right: 50px;
  }
  .in {
    top: 40px;
    right: 135px;
  }
  .logo {
    top: 42px;
    left: 50px;
    transform: none;
  }
}
@media (min-width: 942px) {
  .container {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .team-partners {
    text-align: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one {
    order: 1;
  }
  .two {
    order: 3;
  }
  .three {
    order: 2;
  }
  .four {
    order: 4;
  }
  .list-item {
    width: 235px;
  }
  .other {
    width: 197px;
    margin-bottom: 72px;
  }
  .container.down {
    padding-top: 35px;
  }
  .prevei {
    margin-bottom: 0px;
  }

  .navig {
    width: 1440px;
    height: 700px;
    background-image: url("../img/decktop\ object.png");
    background-color: rgb(26, 25, 21);
    background-position: center;
  }

  .container {
    width: 1440px;
  }

  h1 {
    top: 220px;
    width: 503px;
    font-size: 52px;
  }

  .partner {
    font-size: 24px;
    width: 404px;
    top: 365px;
  }

  .butt-part {
    height: 40px;
    width: 230px;
    top: 426px;
  }

  .conn {
    width: 172px;
  }

  .up {
    top: 40px;
    right: 250px;
  }

  .in {
    top: 40px;
    right: 335px;
  }

  .logo {
    top: 42px;
    left: 250px;
    transform: none;
  }
  
}
.Rectangle_1 {
  background-color: rgb(26, 25, 21);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 700px;
  z-index: 41;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}